<!DOCTYPE html>
<html ng-app="module" ng-controller="controller">

<head>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>
  <meta charset=utf-8 />
  <title>Test Machines</title>
  <link rel="icon" href="./icon.ico">
  <script type="text/javascript" src="./index.js"></script>
  <link rel="stylesheet" href="./index.css">
</head>

<body id="body">
  <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#555555">
    <div class="container">
      <div class="navbar-header">
        <p style="display:inline;font-size:30px;">Test Machines</p>
        <i style="display:inline;margin-left:15px;">For while <a style="color:#26a69a;text-decoration:underline;" href="http://train7xp:8079/">train7xp</a> is down</i>
      </div>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" style="color:white;" class="form-control" ng-model="search.$" placeholder="Search">
        </div>
      </form>
    </div>
  </nav>
  <div class="container">
    <div class="row"><span id="searchbox"><i class="material-icons" ng-click="search.$=''">search</i><input type="text" id="searchInput" ng-model="search.$" /></span></div>
    <form>
      <table class="table table-striped table-hover table-bordered">
        <thead class="noselect">
          <tr>
            <th>Machine Name</th>
            <th>Machine Type</th>
            <th>Location</th>
            <th>Claimed By</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="machine in machines | filter:search:strict" ng-class="{true:'success', false:'warning'}[machine.available]">
            <td>
              <span ng-show="!machine.edit">{{machine.name}}</span>
              <input type="text" ng-show="machine.edit" ng-model="machine.name" />
            </td>
            <td>
              <span ng-show="!machine.edit">{{machine.type}}</span>
              <input type="text" ng-show="machine.edit" ng-model="machine.type" />
            </td>
            <td>
              <span ng-show="!machine.edit">{{machine.location}}</span>
              <input type="text" ng-show="machine.edit" ng-model="machine.location" />
            </td>
            <td>
              <span ng-show="!machine.edit">{{machine.reservedBy}}</span>
            </td>
            <td>
              <button ng-click="reserve(machine.name)" data-position="bottom" data-delay="50" class="btn" tooltipped data-tooltip="Claim {{machine.name}}"
                title="Claim {{machine.name}}" ng-show="machine.available">Claim</button>
              <button ng-click="release(machine.name)" class="btn" tooltipped data-tooltip="Release {{machine.name}}" ng-show="!machine.available">Release</button>
              <button class="btn btn-xs waves-effect waves-teal btn-flat" tooltipped data-tooltip="Edit {{machine.name}}" ng-click="machine.edit=machine.edit?false:true"><i class="material-icons">mode_edit</i></button>
              <button ng-click="delete(machine.name)" type="button" style="float:right;" class="btn btn-xs red" tooltipped data-tooltip="Delete {{machine.name}}"
                title="Delete {{machine.name}}"><i class="material-icons">clear</i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row" style="text-align:center;">
        <label>Autoupdate</label>
        <label class="switch tooltipped" style="height:15px;" data-tooltip="Auto Update From Database every 30 seconds">
          <input type="checkbox" id="autoUpdate" onclick="toggleUpdate()">
          <div class="slider round"></div>
        </label>
        <button class="btn waves-effect waves-teal btn-flat tooltipped" style="padding-left:20px;padding-right:20px;" data-tooltip="Sync with Database" ng-click="update()"><i class="material-icons">sync</i></button>
        <button class="btn btn-lg btn-primary tooltipped" style="width:50%;" ng-click="save()" data-tooltip="Save changes to Database">Save</button>
      </div>
    </form>
    <br>
    <h5><i>Do no evil (Don't steal machines)</i></h5>
  </div>
  <div class="fixed-action-btn tooltipped noselect" data-position="left" data-delay="50" data-tooltip="Add Machine">
    <a class="btn-floating btn-large red" ng-click="add()">
      <i class="large material-icons">add</i>
    </a>
    <ul>
      <!--<li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>-->
    </ul>
  </div>
  <form id="editForm">
    <div class="row">
      <h2 style="display:inline;">Edit <span class="machineName"></span></h2>
      <button onclick="document.getElementById('editForm').removeAttribute('style')" style="display:inline;float:right;" class="btn btn-xs red"><i class="material-icons">clear</i></button>
    </div>
    <label>Name</label><input class="machineName" type="text" />
    <label>Type</label><input class="machineType" type="text" />
    <label>Location</label><input class="machineLocation" type="text" />
    <button class="btn" id="editForm_submit">Submit</button>
  </form>
</body>

</html>